* {padding:0px ;
    margin: 0px;
  }
  #header{
     margin: 20px;
     width: 800px;
     font-family: Arial, Helvetica, sans-serif;
  }
  ul, ol{
    list-style: none;
  }
  .nav li a {
    background-color: rgb(0, 0, 0);
    color: rgb(248, 246, 246);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  .nav li a:hover {
    background-color:#434343  ;
  }
  .nav > li {
    float: left;
  }
  .nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
  }
  .nav li:hover > ul{
    display: block;
    position: absolute;
    min-width: 140px;
  }
  body{
    align-items: center;
    background-image:url(../imagenes/fondologin.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }