<!DOCTYPE html>
<head>
    {% load static%}
    <meta charset="UTL-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de transacciones</title>
    {% if request.session.login %} <!--Se pregunta si viene una variabe de sesión con un nombre especifico-->
    <link rel="stylesheet" href='{% static "css/inicio.css"%}' type="text/css">
    
</head>
<body>
    

    <h1>Bienvenido Administrador: <span>{{request.session.login}} {{request.session.usuarioId}}</span></h1>

    <div id="header">
        <ul class="nav">
            <li><a>Empresas</a>
                <ul>
                    <li><a href="/formularioemp/">Registrar Empresas</a></li>
                    <li><a href="/empresa/">Consultar Empresas</a></li>
                </ul>
            
            </li>
            <li><a>Usuarios</a>
                <ul>
                    <li><a href="/formulariousu/">Registrar Usuarios</a></li>
                    <li><a href="/usuario/">Consultar Usuarios</a></li>
                </ul>
            </li>
            <li><a>Movimientos Financieros</a>
                <ul>
                    <li><a href="/formulario/">Registrar Movimientos</a></li>
                    <li><a href="/movimientofinanciero/">Consultar Movimientos</a></li>
                </ul>
            </li>
            <li><a href="/login/">Cerrar sesion</a></li>
        </ul>
        
    
    
    </div>
 
    
    
   
</body>
    {%endif%} <!--Se cierra el if de inicio de sesión-->
</html>